page-teoria {
    .card-list{
        position: relative;
    }
    .content-card{
        font-size: 115%;
        text-align: justify;
        color: #212121;
        padding: 10px 15px;
        text-justify: distribute;
        background: rgb(247, 247, 247);
        border: 2px solid rgb(80, 80, 80);
    }    
}
